<html>
	<head>
		<title>UAS PBO</title>
	</head>
	<body>
		<form action="index.php" method="post">
			<table align="center" bgcolor="yellow" border=1>
				DATA_FORM
				<tr>
					<td><input type="submit" name="simpan" value="Simpan"/></td>
				</tr>
			</table>
		</form>
		</br>
		</br>
		<table align="center" bgcolor="yellow" border="1">
			<tr>
				<td>Kode</td>
				<td>Nama</td>
				<td>Jenis Gaji</td>
				<td>Jumlah</td>
				<td>Aksi</td>
			</tr>
			DATA_TABEL
		</table>
		</br>		
	</body>
</html>